<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>App Covid 19</title>
  <link rel="stylesheet" href="./index.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="./tracuu.js"></script>
</head>

<body >
    <div class="container-fluid" ng-app='myApp' ng-controller='listCtrl'>
      <div class="row">
        <div class="col-2 mt-3 mb-3">
          <a href="home.html" class="btn bg-white"><img src="./assets/home.png" width="20px" alt=""></a>
        </div>
        <div class="col-8 mt-3 mb-3">
          <input class="form-control" id="myInput" type="text" placeholder="Search.." ng-model="searchText">
        </div>
      </div>
      
      <!-- filter and results -->
      <div class="row">
        <table class="table table-borderless table-light col-10 offset-1 text-center">
          <thead>
            <tr>
              <th class="col-3">
                Giới tính <br>
                <label for="" class=""><input type="radio" value="Nam" ng-model="gender">Nam</label>
                <label for=""><input type="radio" value="Nữ" ng-model="gender">Nữ</label>
              </th>

              <th class="col-3">
                <label for="">
                  Ngày sinh <br>
                </label><input class="form-control col-10 offset-1" type="text" ng-model="ngaysinh">              
              </th>

              <th>
                Tên Vaccine <br>
                <select name="select" id="select" ng-model="selectVaccine" class="form-control">
                  <option value="">Chọn 1</option>
                  <option value="{{data}}" ng-repeat="data in tenVaccine()">{{data}}</option> <!-- interpolation -->
                  <!-- <option value="option-2">Option 2</option> -->
                </select>
  
              </th>
              <th class="col-3">
                Tình trạng <br>
                <select name="select" id="select" ng-model="selectTt" class="form-control">
                  <option value="">Chọn 1</option>
                  <option value="{{data}}" ng-repeat="data in ketqua()">{{data}}</option> <!-- interpolation -->
                </select>  
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="4"><hr><h2 class="text-primary">Thông tin</h2>
              </td>
            </tr>
            <tr class="" ng-repeat="data in list 
            | filter:{hoten: searchText, tinhtrang: selectTt, ngaysinh: ngaysinh, gioitinh: gender, tenVaccine: selectVaccine } track by $index">
              <td colspan="2">
                <h4>{{data.hoten }}</h4>
                <p>Ngày sinh: {{data.ngaysinh}}, Địa chỉ: {{data.diachi}}</p>
      
              </td>
              <td>
                {{data.ngaysinh}}
              </td>
              <td>
                {{data.tinhtrang}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>
</html>