<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Covid 19</title>
    <link rel="stylesheet" href="./index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./tracuu.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <div class="container-fluid" ng-app="myApp" ng-controller="listCtrl">
      <nav class="navbar">
        <div class="container-fluid">
          <a href="./home.html">
            <button type="button" class="btn btn-primary">
              <span class="material-icons"> home </span>
            </button>
          </a>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              ng-model="searchText"
              style="width: 500px; margin-right: 5px"
            />
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <!-- filter and results -->
      <div class="row">
        <table
          class="table table-borderless table-light col-10 offset-1 text-center"
        >
          <thead class="">
            <tr class="">
              <th class="">
                Giới tính <br />
                <label for="" class=""
                  ><input
                    type="radio"
                    value="Nam"
                    ng-model="gender"
                  />Nam</label
                >
                <label for=""
                  ><input type="radio" value="Nữ" ng-model="gender" />Nữ</label
                >
              </th>

              <th class="">
                <label for=""> Ngày sinh <br /> </label
                ><input
                  class="form-control col-10 offset-1"
                  type="text"
                  ng-model="ngaysinh"
                />
              </th>

              <th>
                Tên Vaccine <br />
                <select
                  name="select"
                  id="select"
                  ng-model="selectVaccine"
                  class="form-control"
                >
                  <option value="">Chọn 1</option>
                  <option value="{{data}}" ng-repeat="data in tenVaccine()">
                    {{data}}
                  </option>
                  <!-- interpolation -->
                  <!-- <option value="option-2">Option 2</option> -->
                </select>
              </th>

              <th class="">
                Tình trạng <br />
                <select
                  name="select"
                  id="select"
                  ng-model="selectTt"
                  class="form-control"
                >
                  <option value="">Chọn 1</option>
                  <option value="{{data}}" ng-repeat="data in ketqua()">
                    {{data}}
                  </option>
                  <!-- interpolation -->
                </select>
              </th>
            </tr>
          </thead>
          <tbody class="">
            <tr>
              <td colspan="4">
                <hr />
                <h2 class="text-primary">Thông tin</h2>
              </td>
            </tr>
            <tr
              class="border-bottom"
              ng-repeat="data in list | filter:{hoten: searchText, tinhtrang: selectTt, ngaysinh: ngaysinh, gioitinh: gender, tenVaccine: selectVaccine } track by $index"
            >
              <td colspan="2">
                <h5 class="text-info">{{data.hoten }}</h5>
                <p>Ngày sinh: {{data.ngaysinh}}, Địa chỉ: {{data.diachi}}</p>
              </td>
              <td class="">
                <p>Tiêm tại <b>{{data.noitiem }}</b></p>
                <p>
                  Vaccine:
                  <span class="text-primary">{{data.tenVaccine}}</span>, Số lần
                  tiêm: <span class="text-primary">{{data.tiem.length}}</span>
                </p>
              </td>
              <td class="pt-4">
                <u>{{data.tinhtrang}}</u>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
